# My Analysis
Yiyang Chen  
Feb. 1st, 2022

In [1]:
import numpy as np
import pandas as pd

In [2]:
tax_revenue_and_outlay = pd.read_csv("../data/tax_revenue_and_outlay.csv")
tax_revenue_and_outlay.head()

,year,total_revenue,individual_income,payroll,corporate_income,excise,estate_and_gift,customs_duties,miscellaneous,total_outlay,dsicretionary,programmatic,offsetting_receipts,net_interest,unrate
0,1962,17.0,7.8,2.9,3.5,2.1,0.3,0.2,0.1,18.2,12.3,5.9,-1.2,1.2,5.566667
1,1963,17.2,7.7,3.2,3.5,2.1,0.4,0.2,0.2,18.0,12.2,5.8,-1.3,1.3,5.641667
2,1964,17.0,7.4,3.3,3.6,2.1,0.4,0.2,0.2,17.9,12.0,5.9,-1.2,1.2,5.158333
3,1965,16.5,6.9,3.1,3.6,2.1,0.4,0.2,0.2,16.7,11.0,5.6,-1.1,1.2,4.508333
4,1966,16.8,7.1,3.3,3.9,1.7,0.4,0.2,0.2,17.2,11.6,5.6,-1.1,1.2,3.791667